# Virtual Environment
env/
venv/
.venv/
envvv/

# Python cache
__pycache__/
*.py[cod]

# Django database
db.sqlite3
*/db.sqlite3

# Node
node_modules/
*/node_modules/

# Environment files
.env

# Firebase secret key
serviceAccountKey.json