# Python virtual environment
env/
venv/
.venv/

# Django
__pycache__/
*.pyc
db.sqlite3
.env


# API secrets / local configs
.env
.env.local
.env.production

# OS files
.DS_Store
Thumbs.db
# Secrets
serviceAccountKey.json
*.json